*{
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

::-webkit-scrollbar {
  width: 0px;
}

a{
  text-decoration: none;
  color: #333;
}

.navbar a:hover{
  color: #f1356d;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  position: fixed;
  height: 5rem;
  z-index: 1;
}

.pagination{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 20px;
}

.current{
  padding: 10px;
  background-color:#333;
  color: white;
  border-radius: 5px;
}

.pagination a{
  padding: 10px;
  border-radius: 5px;
  background-color: #f1356d;
  color: white;
}

button{
  background-color: #f1356d;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="submit"],
textarea{
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #f2f2f2;
  font-size: 16px;
  width: 100%;
}

main{
  position: absolute;
  top: 7rem;
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 100px;
}

.nav-links{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  width: 50%;
}

.flash {
  padding: 1em;
  margin: 1em 0;
  border-radius: 5px;
  background-color: #f1356d;
  color: white;
  text-align: center;
}

.posts{
  min-width: 300px;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  word-break: break-word;
}

.posts h1{
  font-size: 2rem;
  margin-bottom: 10px;
}

.posts h1:hover{
  color: #f1356d;
}

.post h1{
  font-size: 2rem;
  margin-bottom: 10px;
  word-break: break-word;
}

.post-header{
  display: flex;
  justify-content: space-between;
  align-items:flex-start;
}

.post-actions{
  display: flex;
  align-items: center;
  gap: 10px;
}

.post-content{
  word-break: break-word;
  margin-bottom: 20px;
}

.post-tags{
  margin-bottom: 20px;
  word-break: break-word;
}

.tag{
  background-color: #f1356d;
  color: white;
  padding: 5px;
  border-radius: 5px;
}

.tag-posts{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 2rem;
  color: #333;
}

.comments {
  margin-top: 20px;
}

.comment-form {
  margin-bottom: 20px;
}

.comment {
  margin-bottom: 10px;
  padding: 10px;
}

.comment-message {
  margin-bottom: 5px;
}

input[type="file"] + label {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #f1356d;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

input[type="file"] {
  display: none;
}
